body {
    font-family: Helvetica;
    padding: 0px 50px;
    margin: auto;
    width: 75%;
    background-color: #cccccc;
    color: #0f292f;
}

header, footer {
    background-color: #dda0dd;
    text-align: center;
    clear: left;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 25px;
}

#me {
    float: right;
    height: auto;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.75);
}

h1, h2 {
    font-family: 'Cabin', sans-serif;
}

h2 {
    padding: 0px 15px;
}

#assignmentList {
    list-style-position: inside;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    margin: 10px;
    padding: 5px;
    border: 1px #000000
};

h3 {
    background-color: #dda0dd;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 25px;
}