@media only screen and (min-width: 1000px) {

footer, main {
    max-width: 1100px;
    margin: auto;
}
#logo, h1, h2 {
    display: inline;
}

.header-flex {
    display: flex;
    justify-content: center;
}

#heading-flex {
    padding-left: 30px;
}

h1 {
    text-align: center;
}

nav {
    background-color: #041b2a;
}

nav ul {
    margin: 0 auto;
}

.navigation {
    display: flex;
    padding: 0;
}

.navigation li:first-child {
    display: none;
}
li:hover {
    background-color: #252525;
}

li a:active {
    background-color: #320a28;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
}

.stats {
    left: 250px;
}

.forecast h3 {
    font-size: 1.5em;
    padding: 5px 0px 2px 0px;
    margin: 0px;
}

}

