@media only screen and (min-width: 769px) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    nav {
        background-color: #041b2a;
    }

    .stats {
        left: 150px;
    }

    #town-storm {
        width: 80%;
    }

    .header-flex {
        display: block;
    }

    footer {
        width: 100%;
    }
}