body {
    font-family: Helvetica;
    margin: auto;
    width: 100%;
    color: #041b2a;
    background-color: #ACAEB1;
    justify-self: center;
}

#sat-banner {
    border-radius: 10px;
    background-color: #FFFF00;
    color: #000000;
    width: 70%;
    margin: 10px auto;
    display: none;
}

header, footer {
    background-color: #0c4261;
    text-align: center;
    color: #ACAEB1;
    clear: left;
    padding: 15px;  
    font-family: 'Oswald', sans-serif;    
}

.header-flex {
    display: flex;
    justify-content: center;
}

#heading-flex {
    padding-left: 30px;
}

#logo {
    border-radius: 20px;
}

#headingFont {
    font-family: 'Oswald', sans-serif;
}

footer {
    width:80%;
}

main {
    text-align: center;
}

nav ul {
    max-width: 100%;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

a:link {
    color: #ACAEB1;
}

a:visited {
    color: #fdfcfc;
}

nav a.current {
    background-color: #ACAEB1;
    color: #041b2a;
}

li:hover {
    background-color: #252525;
}

.herodiv {margin: 10px auto; position: relative;}
h1, h2, p {margin: 0;}

.stats {
	position: absolute;
    top: 25px;	
	background: #041b2a;
	border: 1px solid #000;
	padding: 0px 10px 5px 10px;	
    opacity: .8;
    color: #ffffff;
}

.forecast table {
    background-color: #0c4261;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

table #images {
    padding: 0px 5px;
}

.article {
    text-align: left;
    background-color: #041b2a;
    color: #ACAEB1;
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
}

#article-image {
    float: right;
    border-radius: 10px;
}

.contact {
    display: flex;
    justify-content: space-around;
    background-color: #041b2a;
    color: #ACAEB1;
    width: 80%;
    margin: 0 auto;
    padding: 10px;    
}

#contact-text-flex {
    padding: 30px;
}

#map {
    float: left;
    margin: auto;
}

#contact-text {
    padding-top: 30px;
    float: right;
}



@media only screen and (max-width: 768px) {
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #041b2a;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

#town-storm {
    width: 80%;
}

.stats {
    left: 100px;
    top: 5px;
}

.forecast {
    display: none;
}

.herodiv {
    display: block;
}

#map {
    display: none;
}


}
