header, nav, main, footer {
    max-width: 1200px;
    margin:auto;
}

#logo, h1, h2 {
    display: inline;
}

h1 {
    text-align: center;
}

nav {
    max-width: 1200px;
    ul {
        margin: 0 auto;
    }

}

.navigation {
    display: flex;
    padding: 0;
    color: $textColor;
    li {
        display: block;
        flex: 1 1 100%;
        color: $textColor;
    }
    li:first-child {
        display: none;
    }
}

//Homepage css
.temple-pics {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
}

#temple1, #temple2, #temple3 {
    padding: 10px;
    justify-self: center;
}

#temple1, #temple3 {
    padding-top: 30px;
}

//temples page
.temple-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ordinanceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px;
    justify-content: space-around;
    align-items: center;
    background-color: $headerColor;
    border: 1px solid $textColor;
}

.temple-services {
    grid-column-start: 1;
}

.temple-history {
    grid-column-start: 2
}

.temple-closures {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 5px;
    margin-top: 0;
    align-self: flex-start;
}

.temple-summary {
    grid-column: 1 / span 2;
    grid-row-start: 2;
}

#weather-info {
    width: 60%;
}

//services page
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

#services-image {
    justify-self: center;
    align-self: center;
}

#motto {
    width: 80%;
}

#wedding-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60%;
    justify-content: space-around;
    margin: auto;
}

#wedding-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#menu-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

//reservation page
.reservation-form {
    display: flex;
    padding: 5px;
    // flex-direction: column;
}

#information {
    width: 150%;
    padding: 10px;
}
//contact info
.contact {
    width: 80%;
}



