
$headerColor: #cfcbcb;
$bodyColor: #ffffff;
$paragraphColor: #e9c8c8;
$textColor: #041b2a;
$navColor: #f7e7e7;
$navHoverColor: #041b2a;

$fontFamily: 'Nunito', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;

$gutter: 2%;