@media only screen and (min-width: 769px) and (max-width: 999px) {
    /* navigation css medium */
    .navigation {
        display: flex;
        padding: 0px;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    nav {
        background-color: #041b2a;
    }

    /* header footer css medium */
    .header-flex {
        display: block;
    }

    footer {
        width: 100%;
    }
    
    /* preston town css medium */
    .stats {
        left: 150px;
    }

    #town-storm {
        width: 80%;
    }

    /* gallery page css medium */
    .gallery-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-box, figcaption {
        width: 100%;
        margin: auto;        
    }

/*Homepage css*/
.cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;  
    justify-items: center; 
    width: 80%;
    margin: auto;
}

.preston, .sodasprings {
    margin-bottom: 30px;
}

.sodasprings .info-only {
    word-wrap: break-word;
    max-width: 260px;
}

.fishhaven {
    width: 85%;
}

.preston .info-only, .sodasprings .city-image, .fishhaven .info-only {
    float: left;
    margin: 30px
}

.sodasprings h3 {
    text-overflow: unset;
}

.preston .city-image, .sodasprings .info-only, .fishhaven .city-image {
    float: right;
    margin: 30px;
}



    
}