body {
    font-family: Helvetica;
    margin: auto;
    width: 100%;
    color: #041b2a;
    background-color: #ACAEB1;
    justify-self: center;
}

/* header footer css */
header, footer {
    background-color: #165a81;
    text-align: center;
    color: #ACAEB1;
    clear: left;
    padding: 15px;  
    font-family: 'Oswald', sans-serif;    
}

#logo {
    border-radius: 20px;
}

#headingFont {
    font-family: 'Oswald', sans-serif;
}

footer {
    width:80%;
}

/* navigation css */
nav ul {
    max-width: 100%;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

a:link {
    color: #ACAEB1;
}

a:visited {
    color: #fdfcfc;
}

nav .current {
    background-color: #ACAEB1;
    color: #041b2a;
}

li:hover {
    background-color: #252525;
}

/* preston town css */
picture {
    width: 90%;
    height: auto;
}

#sat-banner {
    border-radius: 10px;
    background-color: #FFFF00;
    color: #000000;
    width: 70%;
    margin: 10px auto;
    display: none;
}

main {
    text-align: center;
}

.herodiv {margin: 10px auto; position: relative;}
h1, h2, p {margin: 0;}

.stats {
	position: absolute;
    top: 25px;	
	background: #041b2a;
	border: 1px solid #000;
	padding: 0px 10px 5px 10px;	
    opacity: .8;
    color: #ffffff;
}

.stats h3 {
    padding-bottom: 0px;
}

.forecast table {
    background-color: #0c4261;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

table #images {
    padding: 0px 5px;
}

.article {
    text-align: left;
    background-color: #041b2a;
    color: #ACAEB1;
    width: 80%;
    margin: 50px auto;
    padding: 10px;
}

#article-image {
    float: right;
    border-radius: 10px;
}

.contact {
    display: flex;
    justify-content: space-around;
    background-color: #041b2a;
    color: #ACAEB1;
    width: 80%;
    margin: 0 auto;
    padding: 10px;    
}

#contact-text-flex {
    padding: 30px;
}

#map {
    float: left;
    margin: auto;
}

#contact-text {
    padding-top: 10px;
    float: right;
}

/* gallery css */
.gallery-header {
    padding: 30px 0px 10px 0px;
}

.image-box {
    margin: 30px auto;
    padding: 0px
}

figcaption {
    background-color: #041b2a;
    color: #ACAEB1;
    padding: 5px 0px;
    margin: 0px auto;
}

.gallery-photos {
    justify-items: center;
    padding: 0px;
}

/*Storm center form css*/
.storm-center-form {
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}

.storm-center-form input[type=text], 
.storm-center-form input[type=email],
.storm-center-form input[type=tel],
.storm-center-form input[type=number],
.storm-center-form input[type=date],
 select, #information {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

label {
    display: block;
    text-align: left;
}

.in-danger-question {
    text-align: left;
}
.in-danger-question, .in-danger-question label {
    display: inline-block;
    text-align: left;
    justify-content: left;
}

.storm-center-form input[type=range] {
    width: 50%;

}

.contact-info, .storm-report, .in-danger-question, .more-information {
    background-color: #ACAEB1;
    color: #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

legend {
    padding: 10px;
}

/*Home page css*/
.sodasprings {
    order: 2;
}

.preston {
    order: 1;
}

.fishhaven {
    order: 3;
}

.preston, .sodasprings, .fishhaven {
    border: 1px solid #041b2a;
    background-color: #ffffff;
    color: #041b2a;
}


@media only screen and (max-width: 768px) {
/* navigation css small */
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #041b2a;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

/* header footer css small */
footer {
    width: 100%;
}

.header-flex {
    display: block;
}

/* preston town css small */
#town-storm {
    width: 80%;
}

.stats {
    left: 100px;
    top: 5px;
}

.forecast {
    display: none;
}

.herodiv {
    display: block;
}

#map {
    display: none;
}


#article-image {
    display: block;
    float: none;
    margin: auto;
}

/* gallery css small */
.gallery-photos {
    display: block;
}

.image-box, figcaption {
    width: 90%;
}

/*homepage css*/
.cards {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    padding: 0px;
    margin: auto;
}

.preston, .sodasprings, .fishhaven {
    padding: 10px;
}

.preston, .sodasprings {
    margin-bottom: 20px;
}

}
