@media only screen and (min-width: 769px) {
    /* navigation css medium */
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    nav {
        background-color: #041b2a;
    }

    /* header footer css medium */
    .header-flex {
        display: block;
    }

    footer {
        width: 100%;
    }
    
    /* preston town css medium */
    .stats {
        left: 150px;
    }

    #town-storm {
        width: 80%;
    }

    /* gallery page css medium */
    .gallery-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-box, figcaption {
        width: 100%;
        margin: auto;        
    }

/*Homepage css*/
.cards {
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}

.preston {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "info-only image";
}
/* 
.cards section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    grid-template-areas: "info-only image";
    width: 90%;
    padding: 1em;
} */

div.cards section.sodasprings {
    grid-template-areas:
        "image info-only";
}

div.cards section .info {
    grid-area: info;
}

div.cards section .image {
    grid-area: image;
    height: auto;
    width: 95%;
    margin: auto;
}

    
}